 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
 .home-page{
    height: 100vh;   
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -40px;
    background: linear-gradient(135deg, #f4f7fc, #e8edf5); 
}
.home-page h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #2c3e50;
}
p{
    font-size: 25px;
    margin-bottom: 30px;
    color: #555;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  color: #0077cc;
  margin: 0 10px;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #005599;
  text-decoration: underline;
}
.helpdesk-img{
    height: 150px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;
    animation: float 3s ease-in-out infinite;
} 
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
