body{
    height: 100vh;
    background-color: #f0ecec;
}

.login-page {
  background-image: url("../img/CollegeImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  overflow: hidden;
  
}

.login-page:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(130, 128, 128, 0.45);
}

.hero-header {
  z-index: 2;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.clg-name {
  position: relative;
  font-size: 2.6rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: #f2f0f0;
  text-shadow:0 0 30px black;
  margin-bottom: 40px;
  z-index: 2;
  text-align: center;
  padding: 0 20px;
}

.clg-sub {
  margin-top: 6px;
  color: rgba(255,255,255,0.85);
  text-shadow:0 0 40px rgb(19, 19, 19);
  font-weight: 500;
}

.login-txt{
  font-size: 30px;
  text-shadow:0 0 15px rgb(226, 220, 220);
  font-style: italic
}

.login-box {
  width: 400px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.149);   
  border-radius: 16px;
  backdrop-filter: blur(5px);
  box-shadow: 10px 8px 25px rgba(0,0,0,0.25);
  text-align: center;
  transition: transform 0.6s ease;
 
}

.login-box:hover{
    transform: translateY(10px);
}

.log-input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  font-weight: bold;
  font-style: italic;
 transition: 0.3s;
}

.login-box button {
  margin-top: 15px;
  padding: 15px 40px;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.login-box button:hover {
  background: #0056b3;
   
}
  
.hero-footer {
  z-index: 2;
  margin-top: auto;
  padding: 18px 0 34px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  font-weight: bold;
  
}


