.page-container.student-page {
  background: #f0ecec;   
  position: relative;
  z-index: 1;
}
.ticket-card p {
  margin: 5px;
  font-size: 20px;
  color: #2c3e50;
}

@media (min-width: 1200px) {
  .tickets-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.attachment-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.attachment-item {
  position: relative;
}

.attachment-img {
  width: 40px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.image-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-preview-full {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
.raise-btn{
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(214, 153, 68);
  font-size: 16px;
  font-style: italic;
  transition: all 0.5s;
}

.raise-btn:hover{
 background-color:  rgb(173, 119, 43);
}