.raise-ticket-page {
  width: 100%;
  min-height: 100vh;
  background: #f3f4f6;
  display: block;
  padding: 30px 0 40px 0;  
  overflow-y: auto;
}

.raise-ticket-container {
  width: 50%;
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.raise-ticket-container h2 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 8px;
}

.logged-in {
  text-align: center;
  color: #555;
  font-size: 15px;
  margin-bottom: 25px;
}

.raise-ticket-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.raise-ticket-form label {
  font-weight: 600;
  color: #333;
}

.raise-ticket-form input[type="text"],
.raise-ticket-form input[type="file"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.2s ease;
}

.raise-ticket-form input:focus {
  border-color: #2563eb;
  outline: none;
}


.quill-editor {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-height: 160px;
}
.quill-editor .ql-container {
  min-height: 150px;
}
.ql-container {
  padding-bottom: 0 !important;
}

.ql-toolbar {
  font-size: 14px !important;
}
.ql-editor {
  min-height: 120px;
  font-size: 14px !important;
}

.file-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.preview-item {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.preview-img,
.file-icon {
  width: 40px;
  height: 45px;
  object-fit: cover;
  border-radius: 6px;
}

.remove-btn {
  position: absolute;
  top: 1px;
  right: -1px;
  background: #e74c3c;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn:hover {
  background: #c0392b;
}


.preview-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.file-icon {
  width: 35px;
  height: 35px;
}

.file-count {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}

.submit-btn {
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.submit-btn:hover {
  background-color: #15803d;
} 

